# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter checkpoints
.ipynb_checkpoints/

# Raw data (too large for GitHub)
data/raw/

# Saved models
*.pkl

# Environment variables
.env

# VS Code settings
.vscode/